

#bg-box {z-index: -1;}
#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#tree {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(300px, 20%, 500px);
}

#logo-dlhp {
    margin: auto;
    width: clamp(100px, 40%, 300px);
    display: block;
}
#login-content {
    transform: translateY(-50px);
}


#main {
    width: clamp(300px, 100%, 1600p);
    margin: auto;
}

.content h3 {
    width: 100%;
    border-bottom: 2px solid grey;
}

nav {
    width: clamp(250px, 20%, 400px);
}
.nav-group {
    padding: 10px;
    border-radius: 12px;
    background-color: transparent;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}
.nav-group i {
    display: block;
    width: 25px;
}
#theme-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#theme-button {
    width: 50px;
    height: 20px;
    border-radius: 1000px;
    outline: 3px solid white;
}
#theme-button span {
    display: block;
    aspect-ratio: 1;
    height: 100%;
    background-color: gold;
    border-radius: 10000px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}
#theme-button.on span {
    background-color: limegreen;
    left: 0;
    transform: translateX(0%);
}












.boxes {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 100%;
    align-items: center;
    gap: 10px;
}
.boxes i {
    display: grid;
    place-items: center;
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 13px;
    font-size: 20px;
}
.boxes span {
    text-align: left;
}
#chart-box {
    height: 430px;
    /* background-color: red; */
}
#available-canvas{
    aspect-ratio: 1;
    width: min(100%, 480px) !important;
}
#line-canvas {
    width: 100%;
}








































/* Transaksi */
#trx-menu i {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Calendar */
#calendar-box {
    width: 100%;
    height: 540px !important;
    overflow: hidden;
}
#calendar {
    height: 100%;
    width: 100%;
    max-width: 380px;
}
#calendar-head i {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 12px;
}
#cal-head-select {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 101%;
    width: 101%;
    backdrop-filter: blur(1000px);
    z-index: 1000;
    border-radius: 20px;
}
#cal-head-select .clr-red {
    position: absolute;
    right: 15px;
    top: 15px;
}
#month-selector span, #year-selector span {
    display: block;
    width: 100%;
    padding: 5px;
    opacity: .7;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}
#month-selector span:hover, #year-selector span:hover {
    opacity: 1;
    font-size: 22px;
}
#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
#calendar-date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.date-box {
    cursor: pointer;
}
.date-content {
    border-radius: 30%;
    /* border: 1.3px solid lightgray; */
    width: 100%;
    aspect-ratio: 1;
}
.date-bars {
    width: calc(100% - 0px);
    aspect-ratio: 1;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* border: 1.3px solid lightgray; */
}

/* detail search */
input#search-input {
    /* border-radius: 20px !important; */
    outline: none;
    padding-right: 20px !important;
    background-color: rgba(105, 105, 105, .1);
    border-color: white;
    color: #777;
}
#detail-search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: white; */
}
#maku-button {
    width: 150px !important;
}
#detail-type {
    width: 170px !important;
}
span.dot {
    height: 5px !important;
    aspect-ratio: 1 !important;
    background-color: #777;
    border-radius: 100px;
}


/* Trx list */
#cal-trx-list {
    height: 460px;
    overflow-y: overlay;
    /* Firefox: thumb | track */
    scrollbar-color: grey transparent; /* HEX dengan Alpha 00 (transparan total) */
    scrollbar-width: thin;
    background: transparent;
}
.cal-trx-date {
    margin: 20px 0;
}
.cal-trx-date label {
    /* border-bottom: 1.3px solid #555; */
    padding-bottom: 3px;
    position: relative;
}
.cal-trx-date label::after {
    content: "";
    width: calc(100% - 210px);
    height: 3px;
    position: absolute;
    right: 4px;
    background-color: rgba(255, 255, 255, .3);
    top: 50%;
    border-radius: 10px;
}
.cal-group-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.cal-trx-group {
    padding: 5px 10px 5px 4px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    background: linear-gradient(45deg, rgba(211, 211, 211, .1), rgba(105, 105, 105, .1)) !important;
    gap: 10px;
}
.cal-trx-group span{
    display: block;
}
.cal-trx-group span.front {
    width: 10px;
    height: 100%;
    border-radius: 1000px;
}
.text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 250px;
}


/* Trx Detail */

