

/* Basic */
#bg-box {z-index: -1;}
#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#tree {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(300px, 20%, 500px);
}


/* Login */
#logo-dlhp {
    margin: auto;
    width: clamp(100px, 40%, 300px);
    display: block;
}
#login-content {
    transform: translateY(-50px);
}


#main {
    width: clamp(300px, 100%, 1600p);
    margin: auto;
}

.content h3 {
    width: 100%;
    border-bottom: 2px solid grey;
}


/* Navbar */
nav {
    width: clamp(250px, 20%, 400px);
}
.nav-group {
    padding: 10px;
    border-radius: 12px;
    background-color: transparent;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    cursor: pointer;
}
.nav-group i {
    display: block;
    width: 25px;
}
#theme-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#theme-button {
    width: 50px;
    height: 20px;
    border-radius: 1000px;
    outline: 3px solid white;
}
#theme-button span {
    display: block;
    aspect-ratio: 1;
    height: 100%;
    background-color: gold;
    border-radius: 10000px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}
#theme-button.on span {
    background-color: limegreen;
    left: 0;
    transform: translateX(0%);
}




/* Boxes */
.boxes {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 2fr 30px;
    align-items: flex-start;
    gap: 10px;
}
.boxes i {
    display: grid;
    place-items: center;
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 13px;
    font-size: 20px;
}
.boxes span {
    text-align: left;
}
#chart-box {
    height: 430px;
    /* background-color: red; */
}
#available-canvas{
    aspect-ratio: 1;
    width: min(100%, 480px) !important;
}
#line-canvas {
    width: 100%;
}



/* Transaksi */
#trx-menu i {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Calendar */
#calendar-box {
    width: 100%;
    height: 540px !important;
    overflow: hidden;
}
#calendar {
    height: 100%;
    width: 100%;
    max-width: 380px;
}
#calendar-head i {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 12px;
}
#cal-head-select {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 101%;
    width: 101%;
    backdrop-filter: blur(1000px);
    z-index: 1000;
    border-radius: 20px;
}
#cal-head-select .clr-red {
    position: absolute;
    right: 15px;
    top: 15px;
}
#month-selector span, #year-selector span {
    display: block;
    width: 100%;
    padding: 5px;
    opacity: .7;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}
#month-selector span:hover, #year-selector span:hover {
    opacity: 1;
    font-size: 22px;
}
#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
#calendar-date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.date-box {
    cursor: pointer;
    /* background-color: rgba(105, 105, 105, .15); */
}
.date-content {
    border-radius: 30%;
    /* border: 1.3px solid lightgray; */
    width: 100%;
    aspect-ratio: 1;
}
.date-bars {
    width: calc(100% - 0px);
    aspect-ratio: 1;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* border: 1.3px solid lightgray; */
}

/* detail search */
input#search-input {
    /* border-radius: 20px !important; */
    outline: none;
    padding-right: 20px !important;
    background-color: rgba(105, 105, 105, .1);
    border-color: white;
    color: #777;
}
#detail-search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: white; */
}
#maku-button {
    width: 150px !important;
}
#detail-type {
    width: 170px !important;
}
span.dot {
    height: 5px !important;
    aspect-ratio: 1 !important;
    background-color: #777;
    border-radius: 100px;
}
.beetwen-input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    /* background-color: transparent; */
}

/* Hide spin buttons */
input[type="date"]::-webkit-inner-spin-button {
  color: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
    cursor: pointer;
    outline: none;
}



/* Trx list */
#cal-trx-list, #cal-items-list {
    height: 470px;
    overflow-y: overlay;
    scrollbar-color: grey transparent; /* HEX dengan Alpha 00 (transparan total) */
    scrollbar-width: thin;
    background: transparent;
    width: 100%;
    max-width: 750px;
    overflow: auto;
}
.cal-trx-date {
    margin: 20px 0;
}
.cal-trx-date label {
    /* border-bottom: 1.3px solid #555; */
    padding-bottom: 3px;
    position: relative;
    color: #ff4f00;
}
.cal-trx-date label::after {

    /* content: ""; */
    width: calc(100% - 210px);
    height: 3px;
    position: absolute;
    right: 4px;
    background: linear-gradient(45deg, #777, lightgray);
    top: 50%;
    border-radius: 10px;
}
.cal-group-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.cal-trx-group {
    padding: 5px 10px 5px 4px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    background: linear-gradient(45deg, rgba(211, 211, 211, .1), rgba(105, 105, 105, .1)) !important;
    gap: 10px;
}
.cal-trx-group span{
    display: block;
}
.cal-trx-group span.front {
    width: 10px;
    height: 100%;
    border-radius: 1000px;
}
.text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 250px;
}


table#items-table, table#trx-table, #inventory-table {
    width: fit-content;
    min-width:900px;
    border-spacing: 3px;
}
#items-table thead, #trx-table thead, #inventory-table thead {
    position: sticky;
    top: 0;
}
#items-table th, #trx-table th {
    /* padding: 4px 10px; */
    font-weight: normal;
    font-size: 18px;
}
#items-table th span, #trx-table th span {
    display: block;
    padding: 4px 10px;
    /* background: linear-gradient(45deg, #7d0783, #673098); */
    border-radius: 4px;
    /* color: #673098 !important; */
    border: 1.6px solid #7d0783;
    backdrop-filter: blur(1000px);
}
#trx-table th span {border: 1.6px solid orange;}

#items-table tbody tr:nth-child(odd), #trx-table tbody tr:nth-child(odd), #inventory-table tbody tr:nth-child(odd) {
    background-color: rgba(105, 105, 105, .15);
}
:is(#items-table, #trx-table, #inventory-table) td span.tr-front {
    aspect-ratio: 1;
    width: 30px !important;
}
#items-table tr td, #trx-table tr td, #inventory-table tr td {
    padding: 4px 10px;
}
#items-table tr td:nth-child(1) {
    width: 50px;
    text-align: right;
}
#items-table tr td:nth-child(2) {
    width: 30px;
    text-align: center;

}
#items-table tr td:nth-child(3) {
    width: 110px;
}
#items-table tr td:nth-child(4) {
    width: 300px;
}
#items-table tr td:nth-child(5) {
    width: 70px;
    text-align: center;
}
#items-table tr td:nth-child(6) {
    width: 70px;
    text-align: center;
}
#items-table tr td:nth-child(7) {
    width: 200px;
    text-align: center;
}

#trx-table tr td:nth-child(1) {
    width: 50px;
    text-align: right;
}
#trx-table tr td:nth-child(2) {
    width: 150px;
}
#trx-table tr td:nth-child(3) {
    width: 150px;
}
#trx-table tr td:nth-child(4) {
    width: 300px;
}
#trx-table tr td:nth-child(5) {
    width: 200px;
    text-align: center;
}
#trx-table tr td:nth-child(6) {
    width: 70px;
    text-align: center;
}
#trx-table tr td:nth-child(7) {
    width: 70px;
    text-align: center;
}


#trx-detail, #trx-items-detail {
    position: absolute;
    top: 50px;
    left: 0;
    width: 380px;
    height: 530px;
    backdrop-filter: blur(200px);
    border-radius: 15px;
}
#trx-detail i.fa-close, #trx-items-detail i.fa-close {
    position: absolute;
    color: red;
    top: 5px;
    right: 10px;
}
#trx-detail-header, #trx-items-detail-header {
    border-bottom: 1.3px dashed lightgray;
    padding-bottom: 7px;
}
#detail-pengawas i.fa-image{
    aspect-ratio: 1;
    width: 100px !important;
}
.itms-group {
    padding: 5px 10px;
}
.itms-group:nth-child(odd) {
    background-color: rgba(105, 105, 105, .2);
}

#trx-items-detail i.fa-image {
    width: 100px;
    aspect-ratio: 1;
}
span.in-out {
    display: block;
    position: relative;
}
.trx-items-trx-group:nth-child(odd) {
    background-color: rgba(105, 105, 105, .1);
}







 #inventory-list  {
    height: 370px;
    overflow-y: overlay;
    scrollbar-color: grey transparent; /* HEX dengan Alpha 00 (transparan total) */
    scrollbar-width: thin;
    background: transparent;
    width: 100%;
    max-width: 2050px;
    overflow: auto;
 }
#inven-search-box {
    width: fit-content;
}
#inven-search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
#inventory-search {
    background: rgba(105, 105, 105, .1);
    border-color: white;
    padding-right: 40px !important;
}
#inven-boxes {
    /* overflow: scroll; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#inven-boxes .boxes {
    cursor: pointer;
    /* transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
#inven-boxes .boxes:hover {
    /* transform: translate(-2px); */
    filter: brightness(1.2);
}
i.far.fa-circle {
    position: relative;
}
i.far.fa-circle::after {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    /* top: 0; */
    /* left: 50%; */
    transform: rotate(-45deg);
    background-color: white;
}
table#inventory-table th span {
    padding: 5px 10px;
    font-weight: normal;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    display: block;
    backdrop-filter: blur(100px);
}
#inventory-table tr td:nth-child(1) {
    /* Style kamu di sini */
    /* background-color: #f0f0f0; */
    text-align: center;
    width: 50px;
}
#inventory-table tr td:nth-child(n+4):nth-child(-n+8) {
    /* Style kamu di sini */
    /* background-color: #f0f0f0; */
    text-align: center;
    width: 50px;
}